.container
%h3 Add a New Location:
=form_for @new_location do |nl|
	%br
	= nl.label :name
	= nl.text_field :name
	%br
	Available Subjects:
	= nl.select :subject_id, Subject.all.collect {|s| [s.title, s.id]}, include_blank: true
	%br
	Create a New Subject and Add to this New Location?
	%br
	= nl.fields_for :subjects do |ns|
		= ns.label :title
		= ns.text_field :title
		%br
		= ns.label "Course number Must follow the xxx convention, ie Rails 101"
		= ns.number_field :course_number
	%br
	= nl.submit "Submit"	