<!DOCTYPE html>
<html>
<head>
  <title>HomeworkTrackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="bodyid">
	<div class='container'>
		<div class='navbar navbar-default' role='navigation'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<a class='navbar-brand' href='/'>HomeWork Trakker</a>
				</div>	
				<div class='navbar-collapse collapse'>
					<ul class='nav navbar-nav'>	
						<%if user_signed_in? %>
							<li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
							<li><%= link_to "Add Location", new_location_path%></li>
							<li><%=link_to "Add Subject", new_subject_path %></li>
							<!--<li><%= link_to "Request Admin Access",  "h" %></li> -->
						<% end %>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	<div class="container">
		<div class="container">
			<%if alert%>
				<div class="alert alert-danger" id="alertbox">
			    	<a href="#" class="close" data-dismiss="alert">&times;</a>
			    	<%= alert %>
				</div>
			<% end %>
			<%if notice%>	
				<div class="alert alert-info" id="alertbox">
			    	<a href="#" class="close" data-dismiss="alert">&times;</a>
			    	<%= notice %>
				</div>
			<% end %>	
		</div>
		<%= yield %>
	</div>
</body>
</html>
